<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Administrativa - Traço Perfeito</title>
    <link rel="stylesheet" href="/css/pag-adm.css">
   

    
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- LINK DO FAVICON -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  <!-- LINK DA FONTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


      

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>


    <% if (typeof logado !== 'undefined' && logado != null) { %>
    <% if (logado == 2) { %>
        <script>
            notify("Login efetuado com sucesso", 
              "Olá, <%= autenticado.autenticado%>!","success");
        </script>
    <% } %>
<% } %>

 
 <%  if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "top right");
                                   
        </script>
    <% } %>


    <!--INICIO DO MENU TOP ADM -->

    <%- include('../partials/menu_top_adm.ejs'); %>

    <!--FIM DO MENU TOP ADM  -->


<!-- MENU LATERAL DO ADM -->

  <%- include('../partials/menu_lateral_adm.ejs'); %>

<!-- MENU LATERAL DO ADM -->


          <!-- TITULO -->




<section class="main-content">
  
<section class="title-page-principal">
  <h2 class="page-principal-titulo">Dashboard Traço Perfeito</h2>
</section>
  
    <section class="conteudo-grafico-cards">
      <section class="dashboard">
        <!-- Card Total Geral -->
        <section class="card">
          <section class="icon-box">
            <i class="fa fa-users" aria-hidden="true"></i>
          </section>
          <a href="/adm/adm-lista-usuarios" style="text-decoration: none; color: inherit;">
          <section class="title-card">Total de Usuários</section>
          </a>
          <section class="value todos-perfis"> <%= totalUsuarios %> </section>
          <!-- <section class="change">+20% a mais do que mês passado</section> -->
        </section>
        <!-- Card Usuários Comuns -->
        <section class="card">
          <section class="icon-box">
            <i class="fa fa-user" aria-hidden="true"></i>
          </section>
          <section class="title-card">Usuários Comuns</section>
          <section class="value perfil-comum"> <%= totalComuns %> </section>
          <!-- <section class="change negative">+10% a menos do que mês passado</section> -->
        </section>
        <!-- Card Usuários Profissionais -->
        <section class="card">
          <section class="icon-box">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          </section>
          <section class="title-card">Usuários Profissionais</section>
          <section class="value perfil-profissional"> <%= totalProfissionais %> </section>
          <!-- <section class="change">+15% a mais do que mês passado</section> -->
        </section>
        </section>
      
      
      <!-- GRÁFICO DE FREQUÊNCIA DE USUÁRIOS (PROTÓTIPO) -->
        <section class="card-grafico">
      <section class="header-grafico">
        <section class="header-left">
          <h2>Criação de Perfis</h2>
          <p><%= primeiraData %> - <%= ultimaData %></p>
        </section>
        <section class="header-right">
         <section class="value"> <%= totalPerfisGrafico %> <%= totalPerfisGrafico === 1 ? 'Perfil' : 'Perfis' %></section>
         <section class="change"><%= percentualCrescimento %>% este período</section>
        </section>
      </section>
      <canvas id="perfilChart"></canvas>
        </section>
    </section>

</section>









<script>
  const labelsGrafico = <%- JSON.stringify(labelsGrafico || []) %>;
  const valoresGrafico = <%- JSON.stringify(valoresGrafico || []) %>;
</script>



    <!-- SCRIPT DO GRÁFICO -->
      <script src="/js/grafico-adm-dashboard.js"></script>

    <!-- LINK DO MENU LATERAL -->
      <script src="/js/menu-lateral-adm.js"></script>

    <!-- LINK DAS NOTIFICAÇÕES -->
      <script src="js/simple-notify.js"></script>

 


</body>
</html>