<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Minhas Notificações</title>
  <link rel="stylesheet" href="css/notificacoes.css">
  <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
  
</head>
<body>

  
<% if (status_usuario === 'pendente') { %>
    <%- include('../partials/aviso-pendente') %>
    
<% } %>
  

  

   <% if (tipo_usuario === 'profissional') { %>
  <%- include('../partials/menu-logado', { tipo_usuario: tipo_usuario }) %>
<% } else if (tipo_usuario === 'comum') { %>
  <%- include('../partials/menu-c-c', { tipo_usuario: tipo_usuario }) %>
<% } else { %>
  <%- include('../partials/menu', { tipo_usuario: tipo_usuario }) %>
<% } %>




<section class="container">
  <h2 class="h2-titulo">Notificações</h2>

  <!-- Bloco resumo -->
  <section class="summary-box">
    <section class="left">
      <%= total > 0 ? total + " notificações não visualizadas" : "Sem notificações" %>
    </section>
    <section class="right">
      <!-- Aqui você pode colocar botão de limpar todas ou filtro, se quiser -->
    </section>
  </section>

  <% if (notificacoes.length === 0) { %>
    <p class="empty-message">Você não tem notificações no momento.</p>
    <img src="/imagens/sem-notificacoes.png" alt="Sem notificações" class="empty-img">
  <% } else { %>
    <% notificacoes.forEach(n => { %>
      <a href="/notificacao/<%= n.ID_NOTIFICACAO %>" class="notification-link">
        <section class="notification-box <%= n.STATUS === 'NAO_LIDA' ? 'highlight' : '' %>">
          <section class="left">
            <img src="/imagens/logo.png" alt="Logo" width="24" height="24">
            <section class="text">
              <section class="title"><%= n.TITULO_NOTIFICACAO %></section>
            </section>
          </section>
          <section class="right">
            <% if(n.STATUS === 'NAO_LIDA') { %>
              <section class="not-viewed">Não Visualizada</section>
            <% } %>
            <section><%= new Date(n.DATA_CRIACAO).toLocaleDateString('pt-BR') %></section>
          </section>
        </section>
      </a>
    <% }) %>
  <% } %>

</section>


  
 <%- include('../partials/rodape'); %>

 
 <script src="https://kit.fontawesome.com/2fcd7931ea.js" crossorigin="anonymous"></script>
 <script src="js/mobile-navbar.js"></script>




</body>
</html>
