<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
   
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
   <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
   <script src="/js/simple-notify.js"></script>
  

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Perfil de <%= usuario.NOME_USUARIO %></title>
</head>
<body>

   
 <%  if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "top right");
                                   
        </script>
    <% } %>

    
<% if (status_usuario === 'pendente') { %>
    <%- include('../partials/aviso-pendente') %>
    
<% } %>


 <%- include('../partials/modal-seguidores') %>
  
  

   <% if (tipo_usuario === 'profissional') { %>
  <%- include('../partials/menu-logado', { tipo_usuario: tipo_usuario }) %>
<% } else if (tipo_usuario === 'comum') { %>
  <%- include('../partials/menu-c-c', { tipo_usuario: tipo_usuario }) %>
<% } else { %>
  <%- include('../partials/menu', { tipo_usuario: tipo_usuario }) %>
<% } %>




  <section class="botao-de-voltar">   
    <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon></button>
    <p class="lado-botao"> Perfil de <%= usuario.NOME_USUARIO %></p>
</section>

<section class="base_cabecalho">
  <section id="banner-perfil">
    <img src="<%= usuario.IMG_BANNER_BANCO_USUARIO || '/imagens/bg.png' %>" id="banner-perfil">
  
 <section id="menu-usuario-wrapper">
    <svg class="icone-menu" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff" onclick="abrirMenuzin()">
      <path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/>
    </svg>

    <section class="opcoes-menu-usuario" id="menuUsuario">
    
     <button class="btn-denunciar-usuario" data-id="<%= usuario.ID_USUARIO %>">Denunciar Usuário</button>

    </section>
  </section>


  
  </section>
  <section class="coluna_contaneir">
    <section class="coluna-esquerda">
      <section class="img__container"> 
        <img src="<%= usuario.FOTO_PERFIL_BANCO_USUARIO || '/imagens/foto-perfil.png' %>" alt="Perfil" id="imgFoto">
        
      </section>


        <section class="embaixo">
          <h2 id="dados-principais-perfil"> <%= usuario.NOME_USUARIO %> </h2>
          <p><%= usuario.ESPECIALIZACAO_DESIGNER %></p>

          <p>@<%= usuario.USER_USUARIO %></p>
          <p><%= usuario.EMAIL_USUARIO %></p>
        </section>
        
            <ul class="quan-p-t-c">
              <li title="Quantidade de publicações feitas por <%= usuario.NOME_USUARIO %>"><span> <%=publicacoes.length %></span>Publicações</li>
              <li title="Quantidade de portfólios criados por <%= usuario.NOME_USUARIO %>"><span><%= usuario.QTD_PORTFOLIOS %></span>Portfólios</li>
              <li title="Quantidade de vezes que <%= usuario.NOME_USUARIO %> fechou negócios pela plataforma."><span> <%= usuario.CONTRATOS_FINALIZADOS %></span>Contratações</li>
             
<li id="btnAbrirModalSeguidores" 
    data-userid="<%= usuario.ID_USUARIO %>" 
    title="Quantidade de seguidores de <%= usuario.NOME_USUARIO %>">
  <span><%= usuario.QTD_SEGUIDORES; %></span> Seguidores
</li>

            </ul>

         
            
         <% const descVazia = !usuario.DESCRICAO_PERFIL_USUARIO || usuario.DESCRICAO_PERFIL_USUARIO.trim() === ''; %>
<section class="sobre">
  <% if (!descVazia) { %>
    <section class="paragrafo-descricao">
      <p class="descricao-meu-perfil">
        <%= usuario.DESCRICAO_PERFIL_USUARIO %>
      </p>
    </section>
  <% } %>

  <% if (!descVazia || (usuario.LINKEDIN_USUARIO || usuario.PINTEREST_USUARIO || usuario.INSTAGRAM_USUARIO || usuario.WHATSAPP_USUARIO)) { 
    let totalRedes = 0;
    if (usuario.LINKEDIN_USUARIO) totalRedes++;
    if (usuario.PINTEREST_USUARIO) totalRedes++;
    if (usuario.INSTAGRAM_USUARIO) totalRedes++;
    if (usuario.WHATSAPP_USUARIO) totalRedes++;
    let classeRedes = totalRedes <= 2 ? 'centralizadas' : 'espalhadas';
  %>
    <ul class="redes-sociais-icons <%= classeRedes %>">
      <% if (usuario.LINKEDIN_USUARIO) { %>
        <li><a href="<%= usuario.LINKEDIN_USUARIO %>" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <% } %>
      <% if (usuario.PINTEREST_USUARIO) { %>
        <li><a href="<%= usuario.PINTEREST_USUARIO %>" target="_blank"><i class="fab fa-pinterest"></i></a></li>
      <% } %>
      <% if (usuario.INSTAGRAM_USUARIO) { %>
        <li><a href="<%= usuario.INSTAGRAM_USUARIO %>" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <% } %>
      <% if (usuario.WHATSAPP_USUARIO) { %>
        <li><a href="<%= usuario.WHATSAPP_USUARIO %>" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
      <% } %>
    </ul>
  <% } %>
</section>
        </section> 
        <section class="coluna-direta">
          <section class="coluna-da-direita">
            <ul class="p-t-c">
              <li><a href="#" >Publicações</a></li>
              <li><a href="/portfolios/<%= usuario.ID_USUARIO %>" >Portfólios</a></li>
     
   
            </ul>
            <section class="button-holder">
          
          

<button id="irparachat" onclick="location.href='/chat?destinatarioId=<%= usuario.ID_USUARIO %>&nome=<%= encodeURIComponent(usuario.NOME_USUARIO) %>&username=<%= encodeURIComponent(usuario.USER_USUARIO) %>&tipo_usuario=<%= encodeURIComponent(usuario.TIPO_USUARIO) %>'">
  <ion-icon name="chatbubbles-outline" style="font-size:15px; width:15px; height:15px;"></ion-icon>
  Conversar
</button>




                <!-- <button class="btn-denunciar-usuario" data-id="<%= usuario.ID_USUARIO %>">
                <ion-icon name="flag-outline"></ion-icon> Denunciar usuário
                </button>
 -->
<button class="follow-button"
  onclick="localStorage.setItem('scrollPos', window.scrollY); 
           location.href='/seguir-usuario?id=<%= usuario.ID_USUARIO %>&sit=<%= usuario.SEGUIDO === 'seguindo' ? 'seguindo' : 'seguir' %>'">
  <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M480-240Zm-320 80v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440h14q-11 18-16.5 38.5T472-360q-54 1-107.5 14.5T260-306q-9 5-14.5 14t-5.5 20v32h283l80 80H160Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm236 480L576-300q-13-13-18.5-28t-5.5-30q0-32 23-57t59-25q28 0 44 13t38 35q20-20 36.5-34t45.5-14q37 0 59.5 25.5T880-357q0 15-6 30t-18 27L716-160Z"/></svg>
  <span class="<%= usuario.SEGUIDO === 'seguindo' ? 'seguindo' : 'seguir' %>">
    <%= usuario.SEGUIDO === 'seguindo' ? 'Seguindo' : 'Seguir' %>
  </span>
</button>




           
            </section>

          </section>

       

  <% if (publicacoes.length > 0) { %>
    <section class="publi">
    <% publicacoes.forEach(pub => { %>
      
      <section class="publi-perfil">

         <a href="/publicacao/<%= pub.ID_PUBLICACAO %>">
    






        <section class="carrossel-imagens-explorar" 
  onmouseenter="mostrarControles(this)" 
  onmouseleave="esconderControles(this)">
  
  <section class="container-imgs" 
    ontouchstart="startSwipe(event, this)" 
    ontouchmove="swipeMove(event)" 
    ontouchend="endSwipe(event, this)">

    <% if (pub.imagens && pub.imagens.length > 0) { %>
      <% pub.imagens.forEach((img, idx) => { %>
        <img 
          src="data:image/jpeg;base64,<%= img.toString('base64') %>" 
          class="publicacao-img<%= idx === 0 ? ' ativa' : '' %>" 
          alt="Imagem da publicação"
          onerror="this.src='/imagens/fallback.png';"
        />
      <% }) %>
    <% } else { %>
    
      <img 
        src="/imagens/img-quebrada.png" 
        class="publicacao-img ativa" 
        alt="Imagem padrão"
      />
    <% } %>
  </section>

  <% if (pub.imagens && pub.imagens.length > 1) { %>
    <button class="seta-carrossel esquerda" onclick="event.preventDefault();prevImg(this)">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <button class="seta-carrossel direita" onclick="event.preventDefault();nextImg(this)">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </button>

    <section class="indicadores">
      <% pub.imagens.forEach((_, idx) => { %>
        <span class="indicador<%= idx === 0 ? ' ativo' : '' %>"></span>
      <% }) %>
    </section>
  <% } %>
</section>



  </a>







    <section class="menu-opcoes"> <!-- Denunciar e compartilhar -->

      <svg class="icone-menu" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/></svg>

      <section class="opcoes-menu">

        <% if (autenticado && id_usuario === pub.ID_USUARIO) { %>
          <button 
            class="btn-editar" 
            title="Editar publicação" 
            data-id="<%= pub.ID_PUBLICACAO %>"
            data-titulo="<%= pub.NOME_PUBLICACAO %>"
            data-categoria="<%= pub.CATEGORIA %>"
            data-descricao="<%= pub.DESCRICAO_PUBLICACAO %>"
            data-tags="<%= pub.TAGS %>"
            data-imagens='<%- JSON.stringify(pub.imagensUrls || []) %>'>
            <ion-icon name="create-outline"></ion-icon>
            Editar
          </button>
          <form action="/excluir-publicacao" method="POST" style="display:inline;">
            <input type="hidden" name="idPublicacao" value="<%= pub.ID_PUBLICACAO %>">
            <button type="submit" class="btn-excluir-publicacao" title="Excluir publicação" onclick="return confirm('Tem certeza que deseja excluir esta publicação? Esta ação não poderá ser desfeita.');">
              <ion-icon name="trash-outline"></ion-icon>
              Excluir
            </button>
          </form>
        <% } %>

        <button class="btn-compartilhar" title="Compartilhar" id="openShareModal" onclick="openModal('<%= pub.ID_PUBLICACAO %>')">
          <ion-icon name="share-social-outline"></ion-icon>
          Compartilhar
        </button>
        <button class="btn-denunciar" title="Denunciar">
          <ion-icon name="flag-outline"></ion-icon>
          Denunciar
        </button>
      </section>
    </section>
           

        <!-- Nome e botão de like -->
        <section class="nome-btn-like">
          <p class="descricao-item-explorar"><%= pub.NOME_PUBLICACAO %></p>


          
          <section class="contagens-likes-visu">
  
            <section class="contagem">
        
              <ion-icon name="eye"></ion-icon>
              <small><%= pub.N_VISUALIZACOES %></small>
            </section>
        
        
        
                 <section class="contagem">
        
                  <button class="like-button">
                    <a href="/favoritar?id=<%= pub.ID_PUBLICACAO %>&sit=<%= pub.FAVORITO %>&idDono=<%= pub.ID_USUARIO %>&nomePub=<%= encodeURIComponent(pub.NOME_PUBLICACAO) %>"  
                       onclick="localStorage.setItem('scrollPos', window.scrollY)">
                      <i class="<%= pub.FAVORITO === 'favorito' ? 'fas' : 'far' %> fa-heart <%= pub.FAVORITO %>"></i>
                    </a>
                  </button>
                  
        <small><%= pub.N_CURTIDAS %></small>
        </section>
      </section>
      

        </section>

      </section>



      
  


                                                <!-- Modal de denúncia -->
                        <section id="modalDenuncia" class="modal">
                            <section class="modal-content">
                            <h3>Qual o motivo da denúncia?</h3>
                            <form id="formDenuncia">
                                <label><input type="radio" name="motivo" value="Conteúdo ofensivo"> Conteúdo ofensivo</label><br>
                                <label><input type="radio" name="motivo" value="Spam"> Spam</label><br>
                                <label><input type="radio" name="motivo" value="Informação falsa ou enganosa"> Informação falsa ou enganosa</label><br>
                                <label><input type="radio" name="motivo" value="Nudez ou conteúdo sexual"> Nudez ou conteúdo sexual</label><br>
                                <label><input type="radio" name="motivo" value="Plágio ou cópia não autorizada"> Plágio ou cópia não autorizada</label><br>
                                <label><input type="radio" name="motivo" value="Outro"> Outro</label><br><br>
                                <button type="submit">Enviar denúncia</button>
                                <button type="button" id="fecharModal">Cancelar</button>
                            </form>
                            </section>
                        </section>



                <!-- Modal de compartilhamento -->
                <section id="modal-share">
                <section class="modal-content-share">
                    <h2>Compartilhar link da publicação</h2>

                    <section class="link-container">
                    <section id="shareLink">
                      tracoperfeito.onrender.com/publicacao/<%= pub.ID_PUBLICACAO %>
                    </section>

                    <button class="copy-button" onclick="copyToClipboard()">
                        <section id="copyIcon">
                       
                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 16px; height: 16px; margin-right: 4px;" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2M16 8h2a2 2 0 012 2v8a2 2 0 01-2 2h-8a2 2 0 01-2-2v-2"/>
                            </svg>
      
                        </section>
                        <section id="copyText">Copiar link</section>
                        <section id="tooltip">Copiado!</section>
                    </button>
                    </section>

                    <button class="close-modal-btn" onclick="closeModal()">×</button>
                </section>
                </section>


 
    <% }) %>
    </section>
  <% } else { %>
   <section class="sem-profissionais" style="opacity: 0.6; display: flex; justify-content: center; flex-direction: column; align-items: center; gap: 10px;">
      <img src="/imagens/sem-resultados.png" alt="Sem publicações" style="margin: 20px auto; width: 160px;">
      <p style="font-family: 'Montserrat'; font-size: 1rem; text-align: center; color: var(--text-color); margin-bottom: 20px;">
        Este usuário ainda não publicou nada.
      </p>
    </section>
  <% } %>



        
        </section>
      </section>
    </section>




  <h2 id="secao-avaliacoes-h2">
    Avaliações de quem contratou <%= usuario.NOME_USUARIO %>
</h2>
<% if (avaliacoes.length > 0) { %>
    <small id="qtd-ava">
  <%= avaliacoes.length %> 
  <%= avaliacoes.length === 1 ? 'avaliação' : 'avaliações' %> 
  - Média: <%= usuario.MEDIA_NOTA %>
</small>

    <section class="carousel-container">
        <button class="carousel-button prev">&#10094;</button>
        <section id="secao-avaliacoes" class="carousel-track">
            <% avaliacoes.forEach(av => { %>
                <section class="avaliacao">
                    <section class="info-criador-ava">
                     
                        <img src="<%= av.FOTO_AVALIADOR || '/imagens/foto-perfil.png' %>" class="foto-de-perfil">
                        <a href="/perfil/<%= av.ID_AVALIADOR %>">
                            <p class="nome-criador-ava"><%= av.NOME_AVALIADOR %></p>
                        </a>
                    </section>
                    
                    <section class="estrelinhas-avaliacao">
                    <% for(let i=1; i<=5; i++) { %>
    <% if(i <= av.NOTA) { %>
        <ion-icon name="star" class="estrela-preenchida"></ion-icon>
    <% } else { %>
        <ion-icon name="star-outline" class="estrela-vazia"></ion-icon>
    <% } %>
<% } %>

                    </section>
                    
                    <section class="conteudo-avaliacao">
                        <p><%= av.COMENTARIO %></p>
                    </section>
                </section>
            <% }) %>
        </section>
        <button class="carousel-button next">&#10095;</button>
    </section>
<% } else { %>
     <section class="sem-profissionais" style="opacity: 0.6; display: flex; justify-content: center; flex-direction: column; align-items: center; gap: 10px;">
      <img src="/imagens/estrelinha.png" alt="Sem avaliações" style="margin: 20px auto; width: 150px;">
      <p style="font-family: 'Montserrat'; font-size: 1rem; text-align: center; color: var(--text-color); margin-bottom: 20px;">
        Este usuário ainda não recebeu nenhuma avaliação.
      </p>
    </section>
<% } %>



          
<% if (podeAvaliar) { %>
  <form id="formAvaliacao" action="/enviar-avaliacao" method="POST">
    <label>Deixe sua avaliação para <%= usuario.NOME_USUARIO %>:</label>
    <section id="estrelas">
      <% for(let i=1; i<=5; i++){ %>
        <ion-icon name="star-outline" class="estrela" data-valor="<%= i %>"></ion-icon>
      <% } %>
    </section>

    <input type="hidden" name="nota" id="nota" value="0">
    <input type="hidden" name="idProfissional" id="idProfissionalAvaliado" value="<%= usuario.ID_USUARIO %>">

    <textarea id="comentario" name="comentario" placeholder="Comentário" maxlength="500"></textarea>
    <small id="contador">0/500 caracteres</small>

    <button type="submit">Enviar Avaliação</button>
  </form>

  <script>
    const estrelas = document.querySelectorAll('#estrelas .estrela');
    const inputNota = document.getElementById('nota');
    const textarea = document.getElementById('comentario');
    const contador = document.getElementById('contador');
    const limite = 500; 

    // ⭐ Atualizar nota
    estrelas.forEach(estrela => {
      estrela.addEventListener('click', () => {
        const valor = Number(estrela.dataset.valor);
        inputNota.value = valor; 
        atualizarEstrelas(valor);
      });
    });

    function atualizarEstrelas(nota) {
      estrelas.forEach(estrela => {
        if(Number(estrela.dataset.valor) <= nota) {
          estrela.setAttribute('name', 'star'); // preenchida
        } else {
          estrela.setAttribute('name', 'star-outline'); // vazia
        }
      });
    }

    // 📝 Contador de caracteres
    textarea.addEventListener('input', () => {
      let caracteres = textarea.value.length;
      if (caracteres > limite) {
        textarea.value = textarea.value.substring(0, limite); // impede ultrapassar
        caracteres = limite;
      }
      contador.textContent = `${caracteres}/${limite} caracteres`;
    });
  </script>
<% } %>


    
   <% if (tipo_usuario === 'profissional') { %>

                 <%- include('../partials/fab-button') %>
<% }   else if(tipo_usuario === 'comum') {   %>
        <%- include('../partials/fab-button-comum') %>
  <% } %>
  
    
    <%- include('../partials/rodape'); %>
    

    <script src="/js/voltar.js"></script>
    <!-- <script src="/js/like.js"></script> -->
    <script src="/js/carrossel-avaliacoes.js"></script>
     <script src="/js/publicacoesindex.js"></script>
         <script src="/js/denuncia-compartilhamento.js"></script>
     <script src="js/rolagem-atualizar-pag.js"></script>
    <script>

  

// autoplay
document.addEventListener('DOMContentLoaded', () => {
  const carrosseis = document.querySelectorAll('.carrossel-imagens-explorar');

  carrosseis.forEach(carrossel => {
    let idx = 0;
    const total = carrossel.querySelectorAll('.publicacao-img').length;

    if (total > 1 && window.innerWidth > 500) {
      setInterval(() => {
        idx = (parseInt(carrossel.dataset.idx || '0') + 1) % total;
        updateCarrossel(carrossel, idx);
      }, 10000);
    }

    updateCarrossel(carrossel, 0);
  });
});
</script>
    


<script>
function abrirMenuzin() {
  const menuzin = document.getElementById('menuUsuario');
  menuzin.classList.toggle('ativo');
}
</script>


<section id="modalDenunciaUsuario" class="modal">
  <section class="modal-content">
    <h3>Qual o motivo da denúncia?</h3>
    <form id="formDenunciaUsuario" action="/denunciar-usuario" method="post">
      <input type="hidden" name="idUsuarioDenunciado" id="idUsuarioDenunciadoInput">

      <label>
    <input type="radio" name="motivo" value="Assédio">
    Assédio
  </label>

  <label>
    <input type="radio" name="motivo" value="Racismo">
    Racismo
  </label>

  <label>
    <input type="radio" name="motivo" value="Plágio">
    Plágio
  </label>

  <label>
    <input type="radio" name="motivo" value="Perfil falso">
    Perfil falso
  </label>

  <label>
    <input type="radio" name="motivo" value="Conteúdo ofensivo">
    Conteúdo ofensivo
  </label>

  <label>
    <input type="radio" name="motivo" value="Preconceito">
    Preconceito
  </label>

  <label>
    <input type="radio" name="motivo" value="Outro">
    Outro
  </label>
      <button type="submit">Enviar denúncia</button>
      <button type="button" id="fecharModalUsuario">Cancelar</button>
    </form>
  </section>
</section>

<script src="/js/denuncia-usuario.js"></script>

</body>
</html>