<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/publicacoes-perfil.css">
    <link rel="stylesheet" href="css/menu.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
   
    <title>Publiações de ....</title>
</head>
<body>

  
<% if (status_usuario === 'pendente') { %>
    <%- include('../partials/aviso-pendente') %>
    
<% } %>
  
    
  <%- include('../partials/menu'); %>


  <section class="botao-de-voltar">   
    <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon></button>
    <p class="lado-botao"> Publicações de Jaqueline Maria</p>
  </section>

  <section id="button-publi-port">

    <ul class="p-t-c">
        <li><a href=/publicacoes-perfil >Publicações</a></li>
        <li><a href=portfolios-perfil >Portfólios</a></li>
      </ul>


  </section>


       
          <section id="container-publicacoes">
            <% if (publicacoes && publicacoes.length > 0) { %>
              <% publicacoes.forEach(function(pub) { %>
                <section class="publi-perfil">
                  <a href="/publicacao/<%= pub.ID_PUBLICACAO %>">
                    <img src="<%= pub.imagensUrls && pub.imagensUrls[0] ? pub.imagensUrls[0] : '/imagens/default-art.jpg' %>" alt="Publicação" class="publicacao-perfil" />
                  </a>
                  <section class="nome-btn-like">
                    <span><%= pub.NOME_PUBLICACAO %></span>
                   

         <button class="like-button">
  <a href="/favoritar?id=<%= pub.ID_PUBLICACAO %>&sit=<%= pub.FAVORITO %>&idDono=<%= pub.ID_USUARIO %>&nomePub=<%= encodeURIComponent(pub.NOME_PUBLICACAO) %>"  
     onclick="localStorage.setItem('scrollPos', window.scrollY)">
    <i class="<%= pub.FAVORITO === 'favorito' ? 'fas' : 'far' %> fa-heart <%= pub.FAVORITO %>"></i>
  </a>
</button>
                    <% if (autenticado && id_usuario === pub.ID_USUARIO) { %>
                      <form action="/excluir-publicacao" method="POST" style="display:inline;">
                        <input type="hidden" name="idPublicacao" value="<%= pub.ID_PUBLICACAO %>">
                        <button type="submit" class="btn-excluir-publicacao" title="Excluir publicação" onclick="return confirm('Tem certeza que deseja excluir esta publicação?')">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                    <% } %>
                  </section>
                </section>
              <% }); %>
            <% } else { %>
              <section class="sem-publicacoes">
                <p>Este usuário ainda não publicou nada.</p>
              </section>
            <% } %>
          </section>
        </section>
      </section>
    </section>




    
   <% if (tipo_usuario === 'profissional') { %>

                 <%- include('../partials/fab-button') %>
<% }   else if(tipo_usuario === 'comum') {   %>
        <%- include('../partials/fab-button-comum') %>
  <% } %>
  


         
    
    <%- include('../partials/rodape'); %>
    

    <script src="js/voltar.js"></script>
    <script src="js/like.js"></script>
 
    
</body>
</html>